<a href="https://colab.research.google.com/github/mainackdasgupta/ML-Basics/blob/main/Kolkata_Home_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data set link : https://www.kaggle.com/datasets/kuntalmaity/house-price

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)
from google.colab import files
import io
uploaded = files.upload()

Saving House_Price.csv to House_Price.csv

In [4]:
df = pd.read_csv('House_Price.csv')
print(df)

     Flat_Price  EMI_Starts    BHK  css-11nfaq3 Unnamed: 4         HOUSE_TYPE  \
0       ₹8.5 Cr  ₹4.22 Lacs  6 BHK          6.0        BHK  Independent House
1       ₹45.0 L    ₹23.83 K  3 BHK          3.0        BHK  Independent House
2      ₹1.35 Cr    ₹67.02 K  3 BHK          3.0        BHK  Independent House
3       ₹60.0 L    ₹31.77 K  5 BHK          5.0        BHK  Independent House
4       ₹52.0 L    ₹27.54 K  4 BHK          4.0        BHK  Independent House
...         ...         ...    ...          ...        ...                ...
3963    ₹13.0 L     ₹6.88 K  2 BHK          2.0        BHK  Independent House
3964    ₹1.5 Cr    ₹74.47 K  8 BHK          8.0        BHK  Independent House
3965    ₹50.0 L    ₹26.48 K  5 BHK          5.0        BHK  Independent House
3966    ₹1.1 Cr    ₹54.61 K  5 BHK          5.0        BHK  Independent House
3967    ₹30.0 L    ₹15.89 K  2 BHK          2.0        BHK  Independent House

       Unnamed: 6 Unnamed: 7      Purpose                  Location  \
0     Independent      House  for sale in       Ballygunge, Kolkata
1     Independent      House  for sale in      Barrackpore, Kolkata
2     Independent      House  for sale in       Santoshpur, Kolkata
3     Independent      House  for sale in          Sarsuna, Kolkata
4     Independent      House  for sale in      Madhyamgram, Kolkata
...           ...        ...          ...                       ...
3963  Independent      House  for sale in    Picnic Garden, Kolkata
3964  Independent      House  for sale in  Rajpur Sonarpur, Kolkata
3965  Independent      House  for sale in           Amtala, Kolkata
3966  Independent      House  for sale in       Tollygunge, Kolkata
3967  Independent      House  for sale in          Naihati, Kolkata

          Area_Type Total_Sq.ft Price_per_sq.ft            Owner_name  \
0     Build Up Area  4200 sq.ft  ₹20.24 K/sq.ft   Abhijit Chakraborty
1     Build Up Area  1400 sq.ft   ₹3.21 K/sq.ft       Virtual Reality
2     Build Up Area  2500 sq.ft   ₹5.40 K/sq.ft     AveNew Properties
3     Build Up Area  1100 sq.ft   ₹5.45 K/sq.ft  Ganapati Real Estate
4     Build Up Area   900 sq.ft   ₹5.78 K/sq.ft  Third Eye Consulting
...             ...         ...             ...                   ...
3963  Build Up Area  1500 sq.ft      ₹866/sq.ft            Goutam Dey
3964  Build Up Area  2560 sq.ft   ₹5.86 K/sq.ft        Alak Kumar Roy
3965  Build Up Area  1900 sq.ft   ₹2.63 K/sq.ft              Sarishma
3966  Build Up Area  2600 sq.ft   ₹4.23 K/sq.ft     MEDIATOR REALTORS
3967  Build Up Area   950 sq.ft   ₹3.16 K/sq.ft           S Mukherjee

          Owner_type
0     Housing Expert
1     Housing Expert
2     Housing Expert
3     Housing Expert
4     Housing Expert
...              ...
3963           Owner
3964           Owner
3965           Owner
3966           Agent
3967           Owner

[3968 rows x 15 columns]

In [5]:
df.isnull().sum()

Flat_Price          0
EMI_Starts          0
BHK                 0
css-11nfaq3         2
Unnamed: 4          2
HOUSE_TYPE          0
Unnamed: 6          2
Unnamed: 7          2
Purpose             2
Location            2
Area_Type           0
Total_Sq.ft         0
Price_per_sq.ft     0
Owner_name         10
Owner_type          0
dtype: int64

In [6]:
df.shape

(3968, 15)

In [7]:
df1 = df.dropna()
df1.isnull().sum()

Flat_Price         0
EMI_Starts         0
BHK                0
css-11nfaq3        0
Unnamed: 4         0
HOUSE_TYPE         0
Unnamed: 6         0
Unnamed: 7         0
Purpose            0
Location           0
Area_Type          0
Total_Sq.ft        0
Price_per_sq.ft    0
Owner_name         0
Owner_type         0
dtype: int64

In [13]:
df1.shape

(3956, 15)

In [8]:
print(df1)

     Flat_Price  EMI_Starts    BHK  css-11nfaq3 Unnamed: 4         HOUSE_TYPE  \
0       ₹8.5 Cr  ₹4.22 Lacs  6 BHK          6.0        BHK  Independent House
1       ₹45.0 L    ₹23.83 K  3 BHK          3.0        BHK  Independent House
2      ₹1.35 Cr    ₹67.02 K  3 BHK          3.0        BHK  Independent House
3       ₹60.0 L    ₹31.77 K  5 BHK          5.0        BHK  Independent House
4       ₹52.0 L    ₹27.54 K  4 BHK          4.0        BHK  Independent House
...         ...         ...    ...          ...        ...                ...
3963    ₹13.0 L     ₹6.88 K  2 BHK          2.0        BHK  Independent House
3964    ₹1.5 Cr    ₹74.47 K  8 BHK          8.0        BHK  Independent House
3965    ₹50.0 L    ₹26.48 K  5 BHK          5.0        BHK  Independent House
3966    ₹1.1 Cr    ₹54.61 K  5 BHK          5.0        BHK  Independent House
3967    ₹30.0 L    ₹15.89 K  2 BHK          2.0        BHK  Independent House

       Unnamed: 6 Unnamed: 7      Purpose                  Location  \
0     Independent      House  for sale in       Ballygunge, Kolkata
1     Independent      House  for sale in      Barrackpore, Kolkata
2     Independent      House  for sale in       Santoshpur, Kolkata
3     Independent      House  for sale in          Sarsuna, Kolkata
4     Independent      House  for sale in      Madhyamgram, Kolkata
...           ...        ...          ...                       ...
3963  Independent      House  for sale in    Picnic Garden, Kolkata
3964  Independent      House  for sale in  Rajpur Sonarpur, Kolkata
3965  Independent      House  for sale in           Amtala, Kolkata
3966  Independent      House  for sale in       Tollygunge, Kolkata
3967  Independent      House  for sale in          Naihati, Kolkata

          Area_Type Total_Sq.ft Price_per_sq.ft            Owner_name  \
0     Build Up Area  4200 sq.ft  ₹20.24 K/sq.ft   Abhijit Chakraborty
1     Build Up Area  1400 sq.ft   ₹3.21 K/sq.ft       Virtual Reality
2     Build Up Area  2500 sq.ft   ₹5.40 K/sq.ft     AveNew Properties
3     Build Up Area  1100 sq.ft   ₹5.45 K/sq.ft  Ganapati Real Estate
4     Build Up Area   900 sq.ft   ₹5.78 K/sq.ft  Third Eye Consulting
...             ...         ...             ...                   ...
3963  Build Up Area  1500 sq.ft      ₹866/sq.ft            Goutam Dey
3964  Build Up Area  2560 sq.ft   ₹5.86 K/sq.ft        Alak Kumar Roy
3965  Build Up Area  1900 sq.ft   ₹2.63 K/sq.ft              Sarishma
3966  Build Up Area  2600 sq.ft   ₹4.23 K/sq.ft     MEDIATOR REALTORS
3967  Build Up Area   950 sq.ft   ₹3.16 K/sq.ft           S Mukherjee

          Owner_type
0     Housing Expert
1     Housing Expert
2     Housing Expert
3     Housing Expert
4     Housing Expert
...              ...
3963           Owner
3964           Owner
3965           Owner
3966           Agent
3967           Owner

[3956 rows x 15 columns]

In [9]:
df1.columns

Index(['Flat_Price', 'EMI_Starts', 'BHK', 'css-11nfaq3', 'Unnamed: 4',
       'HOUSE_TYPE', 'Unnamed: 6', 'Unnamed: 7', 'Purpose', 'Location',
       'Area_Type', 'Total_Sq.ft', 'Price_per_sq.ft', 'Owner_name',
       'Owner_type'],
      dtype='object')

In [10]:
df2 = df1.drop(['css-11nfaq3','Unnamed: 6','Unnamed: 7','Unnamed: 4'],axis='columns')
df2.shape

(3956, 11)

In [14]:
print(df2)

     Flat_Price  EMI_Starts    BHK         HOUSE_TYPE      Purpose  \
0       ₹8.5 Cr  ₹4.22 Lacs  6 BHK  Independent House  for sale in
1       ₹45.0 L    ₹23.83 K  3 BHK  Independent House  for sale in
2      ₹1.35 Cr    ₹67.02 K  3 BHK  Independent House  for sale in
3       ₹60.0 L    ₹31.77 K  5 BHK  Independent House  for sale in
4       ₹52.0 L    ₹27.54 K  4 BHK  Independent House  for sale in
...         ...         ...    ...                ...          ...
3963    ₹13.0 L     ₹6.88 K  2 BHK  Independent House  for sale in
3964    ₹1.5 Cr    ₹74.47 K  8 BHK  Independent House  for sale in
3965    ₹50.0 L    ₹26.48 K  5 BHK  Independent House  for sale in
3966    ₹1.1 Cr    ₹54.61 K  5 BHK  Independent House  for sale in
3967    ₹30.0 L    ₹15.89 K  2 BHK  Independent House  for sale in

                      Location      Area_Type Total_Sq.ft Price_per_sq.ft  \
0          Ballygunge, Kolkata  Build Up Area  4200 sq.ft  ₹20.24 K/sq.ft
1         Barrackpore, Kolkata  Build Up Area  1400 sq.ft   ₹3.21 K/sq.ft
2          Santoshpur, Kolkata  Build Up Area  2500 sq.ft   ₹5.40 K/sq.ft
3             Sarsuna, Kolkata  Build Up Area  1100 sq.ft   ₹5.45 K/sq.ft
4         Madhyamgram, Kolkata  Build Up Area   900 sq.ft   ₹5.78 K/sq.ft
...                        ...            ...         ...             ...
3963    Picnic Garden, Kolkata  Build Up Area  1500 sq.ft      ₹866/sq.ft
3964  Rajpur Sonarpur, Kolkata  Build Up Area  2560 sq.ft   ₹5.86 K/sq.ft
3965           Amtala, Kolkata  Build Up Area  1900 sq.ft   ₹2.63 K/sq.ft
3966       Tollygunge, Kolkata  Build Up Area  2600 sq.ft   ₹4.23 K/sq.ft
3967          Naihati, Kolkata  Build Up Area   950 sq.ft   ₹3.16 K/sq.ft

                Owner_name      Owner_type
0      Abhijit Chakraborty  Housing Expert
1          Virtual Reality  Housing Expert
2        AveNew Properties  Housing Expert
3     Ganapati Real Estate  Housing Expert
4     Third Eye Consulting  Housing Expert
...                    ...             ...
3963            Goutam Dey           Owner
3964        Alak Kumar Roy           Owner
3965              Sarishma           Owner
3966     MEDIATOR REALTORS           Agent
3967           S Mukherjee           Owner

[3956 rows x 11 columns]

In [17]:
df2.columns

Index(['Flat_Price', 'EMI_Starts', 'BHK', 'HOUSE_TYPE', 'Purpose', 'Location',
       'Area_Type', 'Total_Sq.ft', 'Price_per_sq.ft', 'Owner_name',
       'Owner_type'],
      dtype='object')